
{% extends 'base.html' %}
    
{% block style %}
    <title>Detalhe produto</title>
    <link rel="stylesheet" href="../static/detalhe.css">
{% endblock %}



{% block content %}

    <div class="conteudo">
        <br>
        <h1>{{detalhe_descricao_produto}}</h1>
        <!-- <h2>{{detalhe_descricao_produto}}</h2> -->
        <div class="imagem" >
            <img src={{detalhe_imagem_produto}} alt="" width="500px" height="500px" >
            <p class="valor"> Por: {{detalhe_valor_produto}} </p>

            <a href="https://wa.me/+5511991984592 "><button type="submit"> Chamar Vendedor</button></a>

        </div>    

    </div>

{% endblock content %}
